/* iframe-styles.css */

#iframe-wrapper {
    background: #f9fbff; 
    width: 100%; 
    padding-top: 4rem; 
    padding-bottom: 4rem; 
    z-index: 2; 
    position: relative;
}

#webgl-placement-container {
    max-width: 470px;
    margin: 0 auto;
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    
}

#isolated-webgl-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}